{% extends "base.html.twig" %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <h1>Bienvenue sur la page d'accueil.</h1>
    <p>
        Passionné de programmation, je suis, actuellement, une formation à l’IT-academy, où j’ai pu développer mes compétences dans différentes technologies web, qu’elles soient Frontend , comme Backend. Etant aussi particulièrement attiré par l’univers de l’IoT, je programme aussi en C, C++ et Python.
        Je suis du coup, aujourd’hui à la recherche d’un contrat de professionnalisation, afin de mettre à profit mes connaissances.
        Rigoureux et polyvalent, je serai ravi de pouvoir apporter mes <a href="pro">compétences</a> acquises au cours de mon cursus.
        N’hésitez pas à me <a href="contact">contacter.</a>. Ainsi qu’a télécharger <a href="#">mon CV.</a>.
    </p>
{% endblock %}